*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navebar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    text-align: center;
    height: 50px;
    box-shadow: 0px 0px 5px 0px;
}

nav a {
    display: inline-block;
    margin: 12px 119px 16px 80px;
}
h3{
    padding-top: 12px;
    color: blue;
    margin-left: 35px;
}
a {
    color: blue;
    font-size: larger;
    margin-top: 12px;
    font-weight: 700;
}
a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
    height: 20px;
}
a:hover {
    color: red;
    background-color: transparent;
}

button.button {
    margin-left: 640px;
    margin-top: 30px;
    border:0;
    background-color: black;
    color: white;
    height: 40px;
    width: 100px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
}
button:hover{
background-color:rgb(61, 60, 60) ;
}
h1.colorName {
    text-align: center;
    margin-top: 175px;
    margin-left: 445px;
}

h1 {
    color: white;
    background-color: black;
    width: 500px;
}